In [ ]:
# 1
#*nazorat qilinadigan ML turi va unda input va output beriladi. uni turlari regression and classification. farqi regressiion da output cheksiz boladi. classification da chekli
df['column_name'].value_counts() orqali tekshirib olinadi

In [ ]:
#2
#*data toliq holatda bolishi kerak. tushib qolgan yoki aralash holatda emas. va kop bolishi kerak, qancha data kop bolsa shuncha yaxshi. data ml uchun numeric holatda bolishi kerak(encoding)

In [ ]:
#3
#datani tayyorlash. tozalash tushib qolgan qymatlarni todirish 2-qsm encoding object value larni numberic holatga otkazib olish(one got & label encoding larni korib chiqdik xozirgacha) 3-qism scaling 0.0~1.0 base ga otkazib olish

In [3]:
#4
#mean orta arifmetik hisoblaydi va faqat numeric value lar bilangina ishlaydi
#mode object bilan ham ishlayveradi. eng kop qaytarilgan value ni olishda ishlatiladi mode().[0] shunda 0 degani eng kop qaytarilgan value ni birinchisini ol degani.

In [4]:
#5
#*nazorat qilinadigan ML turi va unda input va output beriladi. uni turlari regression and classification. farqi regressiion da output cheksiz boladi. classification da chekli
#df['column_name'].value_counts() orqali tekshirib olinadi
#classification da gender column faqat male female demak chekli. customer's remaining balance column korsak regression chunki balans doim ozgaruvchi va aynan 1ta chekli value emas

In [ ]:
#6
#5ta mean mode median fixed toldirsh yoki tashlab yuborish dropna()
#df['age'].fillna(df['age'].mean(),inplace=True)
#df['Stock_Marktet'].fillna(df['Stock_Marktet'].mode()[0], inplace=True)
#df['Purpose'].fillna(df['Purpose'].median(), inplace=True)
#df['age'].fillna(150,inplace=True)
#df['age].dropna(inplace=True)

In [7]:
#7
#data va uni qanchalik tozaligi. shunda model yaxshi organadi

In [8]:
#8
#median ortadasi value ni olish bilan toldiradi.

In [12]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son %2 == 0:
    print('yomon')
else: print('')

yomon

In [13]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son > 0:
    print('yaxshi')
elif berilgan_son < 0:
    print('yomon')
else: print('0ga teng')

yaxshi

In [14]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son %3 and berilgan_son%5 == 0:
    print('yaxshi')
else: print('yomon')

yaxshi

In [15]:
berilgan_son=input('son kiriting:')
if berilgan_son[0] == 'a':
    print('yaxshi')
else: print('yomon')

yomon

In [17]:
berilgan_son=input('son kiriting:')
if berilgan_son[-1] == 'a':
    print('yaxshi')
else: print('yomon')

yaxshi

In [18]:
berilgan_son=input('son kiriting:')
if berilgan_son[-1] == 'a' and berilgan_son[0] == 'b':
    print('yaxshi')
else: print('yomon')

yaxshi

In [20]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son > 0:
    print(True)
else: print(False)

True

In [21]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son < 0:
    print(True)
else: print(False)

True

In [22]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son == 0:
    print(True)
else: print(False)

True

In [23]:
berilgan_son=int(input('son kiriting:'))
if berilgan_son %2 == 0:
    print(True)
else: print(False)

True

In [24]:
#ML

In [3]:
import pandas as pd
df = pd.read_csv('Finance_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                34 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      35 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            39 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [4]:
df['age'].fillna(df['age'].mean(),inplace=True)

/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2066/1492264711.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(),inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      35 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            39 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [6]:
df['Stock_Marktet'].fillna(df['Stock_Marktet'].mode()[0], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      40 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            39 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [8]:
df = pd.read_csv('Finance_data.csv')
df['age'].fillna(df['age'].median(), inplace=True)

/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2066/3072041668.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      35 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            39 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [10]:
df['Purpose'].fillna('aaaaa', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      35 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            40 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [11]:
df['age'].dropna(inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      35 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            40 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(1), int64(7), object(16)
memory usage: 7.6+ KB

In [14]:
#qatorlar boyicha toldirish
df['Stock_Marktet'].fillna('salom', axis=0)

0       Yes
1        No
2       Yes
3       Yes
4        No
5        No
6       Yes
7       Yes
8       Yes
9       Yes
10      Yes
11      Yes
12       No
13      Yes
14      Yes
15      Yes
16      Yes
17      Yes
18      Yes
19      Yes
20      Yes
21      Yes
22      Yes
23    salom
24      Yes
25      Yes
26      Yes
27      Yes
28    salom
29    salom
30    salom
31    salom
32      Yes
33      Yes
34      Yes
35      Yes
36      Yes
37      Yes
38      Yes
39      Yes
Name: Stock_Marktet, dtype: object

In [15]:
#qolgan savollar qaytarilgan ekan