In [1]:
import pandas as pd

In [54]:
df=pd.read_csv('cars2018.csv')

In [23]:
df.head(4)

,model,model_index,displacement,cylinders,gears,transmission,mpg,aspiration,lockup_torque_converter,drive,max_ethanol,recommended_fuel,intake_valves_per_cyl,exhaust_valves_per_cyl,fuel_injection
0,Acura NSX,57.0,3.5,6,9,Manual,21,Turbocharged/Supercharged,Y,All Wheel Drive,10,Premium Unleaded Required,2,2.0,Direct ignition
1,ALFA ROMEO 4C,410.0,1.8,4,6,Manual,28,Turbocharged/Supercharged,Y,"2-Wheel Drive, Rear",10,Premium Unleaded Required,2,2.0,Direct ignition
2,Audi R8 AWD,65.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2.0,Direct ignition
3,Audi R8 RWD,71.0,5.2,10,7,Manual,18,Naturally Aspirated,Y,"2-Wheel Drive, Rear",15,Premium Unleaded Recommended,2,2.0,Direct ignition

In [18]:
#1
#id -- player inden
#games-- number of games in season
#2
#input va outputni aniqlash
#x- inputlar
#y=xG(output//label)
#kerkasizlarni drop(player_name)

In [ ]:
# df.drop('player_name', axis=1,inplace=True)

KeyError: "['player_name'] not found in axis"

In [ ]:
df.head()

,id,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup,league_ratio
0,619,33,2551,26,25.270160,8,5.568922,148,33,4,0,F S,Manchester City,21,20.703184,27.805155,6.878173,9
1,647,34,2589,21,17.157292,4,3.922501,112,27,4,0,F M S,Tottenham,19,14.873823,16.488439,5.549699,9
2,802,26,2111,20,15.219104,3,4.554671,76,41,8,0,F S,Chelsea,19,14.457935,21.365790,5.276973,9
3,848,35,3078,18,17.881850,5,2.548747,131,23,4,1,F,Queens Park Rangers,15,14.076043,13.718276,3.041321,9
4,498,35,2967,16,13.451750,8,8.494180,122,82,4,0,F M S,Arsenal,16,12.690581,27.157572,10.736753,9

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1139 non-null   object
 1   model_index              1138 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1139 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [25]:
df.isnull().sum()

model                      5
model_index                6
displacement               0
cylinders                  0
gears                      0
transmission               0
mpg                        0
aspiration                 5
lockup_torque_converter    4
drive                      3
max_ethanol                0
recommended_fuel           0
intake_valves_per_cyl      0
exhaust_valves_per_cyl     5
fuel_injection             6
dtype: int64

# Data Preprocessing

In [26]:
#Tushirilb qoldirilgan qiymatlarni toldiring

# Mean

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1139 non-null   object
 1   model_index              1138 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1139 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [28]:
df.head()

,model,model_index,displacement,cylinders,gears,transmission,mpg,aspiration,lockup_torque_converter,drive,max_ethanol,recommended_fuel,intake_valves_per_cyl,exhaust_valves_per_cyl,fuel_injection
0,Acura NSX,57.0,3.5,6,9,Manual,21,Turbocharged/Supercharged,Y,All Wheel Drive,10,Premium Unleaded Required,2,2.0,Direct ignition
1,ALFA ROMEO 4C,410.0,1.8,4,6,Manual,28,Turbocharged/Supercharged,Y,"2-Wheel Drive, Rear",10,Premium Unleaded Required,2,2.0,Direct ignition
2,Audi R8 AWD,65.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2.0,Direct ignition
3,Audi R8 RWD,71.0,5.2,10,7,Manual,18,Naturally Aspirated,Y,"2-Wheel Drive, Rear",15,Premium Unleaded Recommended,2,2.0,Direct ignition
4,Audi R8 Spyder AWD,66.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,NaN,Direct ignition

In [29]:
df.isnull().sum()

model                      5
model_index                6
displacement               0
cylinders                  0
gears                      0
transmission               0
mpg                        0
aspiration                 5
lockup_torque_converter    4
drive                      3
max_ethanol                0
recommended_fuel           0
intake_valves_per_cyl      0
exhaust_valves_per_cyl     5
fuel_injection             6
dtype: int64

In [30]:
df['model_index']

0        57.0
1       410.0
2        65.0
3        71.0
4        66.0
        ...
1139     86.0
1140     37.0
1141     33.0
1142     53.0
1143     52.0
Name: model_index, Length: 1144, dtype: float64

In [33]:
df['model_index'].fillna(df['model_index'].mean(),inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1139 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1139 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

# Mode

In [35]:
df['model'].fillna(df['model'].mode()[0],inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_24872\510714758.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['model'].fillna(df['model'].mode()[0],inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1144 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1139 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [37]:
df['exhaust_valves_per_cyl'].fillna(df['exhaust_valves_per_cyl'].mode()[0],inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_24872\1774882619.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['exhaust_valves_per_cyl'].fillna(df['exhaust_valves_per_cyl'].mode()[0],inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1144 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1144 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

# Median

In [42]:
df['gears'].fillna(df['gears'].median(),inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_24872\1487278068.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gears'].fillna(df['gears'].median(),inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1144 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1144 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1144 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [43]:
df.head()

,model,model_index,displacement,cylinders,gears,transmission,mpg,aspiration,lockup_torque_converter,drive,max_ethanol,recommended_fuel,intake_valves_per_cyl,exhaust_valves_per_cyl,fuel_injection
0,Acura NSX,57.0,3.5,6,9,Manual,21,Turbocharged/Supercharged,Y,All Wheel Drive,10,Premium Unleaded Required,2,2.0,Direct ignition
1,ALFA ROMEO 4C,410.0,1.8,4,6,Manual,28,Turbocharged/Supercharged,Y,"2-Wheel Drive, Rear",10,Premium Unleaded Required,2,2.0,Direct ignition
2,Audi R8 AWD,65.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2.0,Direct ignition
3,Audi R8 RWD,71.0,5.2,10,7,Manual,18,Naturally Aspirated,Y,"2-Wheel Drive, Rear",15,Premium Unleaded Recommended,2,2.0,Direct ignition
4,Audi R8 Spyder AWD,66.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2.0,Direct ignition

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1144 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1144 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1144 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

# Fixed qiymat orqali

In [45]:
df['lockup_torque_converter'].fillna('Y',inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1144 non-null   object
 1   model_index              1144 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1144 non-null   object
 8   lockup_torque_converter  1144 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1144 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [47]:
df['max_ethanol'].fillna(28,inplace=True)

C:\Users\davro\AppData\Local\Temp\ipykernel_24872\1923667935.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['max_ethanol'].fillna(28,inplace=True)

In [49]:
df.dropna(inplace=True)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1135 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1135 non-null   object
 1   model_index              1135 non-null   float64
 2   displacement             1135 non-null   float64
 3   cylinders                1135 non-null   int64
 4   gears                    1135 non-null   int64
 5   transmission             1135 non-null   object
 6   mpg                      1135 non-null   int64
 7   aspiration               1135 non-null   object
 8   lockup_torque_converter  1135 non-null   object
 9   drive                    1135 non-null   object
 10  max_ethanol              1135 non-null   int64
 11  recommended_fuel         1135 non-null   object
 12  intake_valves_per_cyl    1135 non-null   int64
 13  exhaust_valves_per_cyl   1135 non-null   float64
 14  fuel_injection           1135 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 141.9+ KB

In [52]:
df.drop('exhaust_valves_per_cyl',axis=1,inplace=True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1139 non-null   object
 1   model_index              1138 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1139 non-null   object
 8   lockup_torque_converter  1140 non-null   object
 9   drive                    1141 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1139 non-null   float64
 14  fuel_injection           1138 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 134.2+ KB

In [56]:
df.isnull().sum()

model                      5
model_index                6
displacement               0
cylinders                  0
gears                      0
transmission               0
mpg                        0
aspiration                 5
lockup_torque_converter    4
drive                      3
max_ethanol                0
recommended_fuel           0
intake_valves_per_cyl      0
exhaust_valves_per_cyl     5
fuel_injection             6
dtype: int64

In [57]:
df.dropna(inplace=True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1131 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1131 non-null   object
 1   model_index              1131 non-null   float64
 2   displacement             1131 non-null   float64
 3   cylinders                1131 non-null   int64
 4   gears                    1131 non-null   int64
 5   transmission             1131 non-null   object
 6   mpg                      1131 non-null   int64
 7   aspiration               1131 non-null   object
 8   lockup_torque_converter  1131 non-null   object
 9   drive                    1131 non-null   object
 10  max_ethanol              1131 non-null   int64
 11  recommended_fuel         1131 non-null   object
 12  intake_valves_per_cyl    1131 non-null   int64
 13  exhaust_valves_per_cyl   1131 non-null   float64
 14  fuel_injection           1131 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 141.4+ KB