In [17]:
import pandas as pd
df = pd.read_csv('Finance_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                31 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       39 non-null     float64
 4   Equity_Market                      39 non-null     float64
 5   Debentures                         39 non-null     float64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      34 non-null     object
 11  Factor                             37 non-null     object
 12  Objective                          39 non-null     object
 13  Purpose                            37 non-null     object
 14  Duration                           39 non-null     object
 15  Invest_Monitor                     37 non-null     object
 16  Expect                             39 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(4), int64(4), object(16)
memory usage: 7.6+ KB

In [18]:
df.isnull().sum()

gender                               0
age                                  9
Investment_Avenues                   0
Mutual_Funds                         1
Equity_Market                        1
Debentures                           1
Government_Bonds                     0
Fixed_Deposits                       0
PPF                                  0
Gold                                 0
Stock_Marktet                        6
Factor                               3
Objective                            1
Purpose                              3
Duration                             1
Invest_Monitor                       3
Expect                               1
Avenue                               0
What are your savings objectives?    0
Reason_Equity                        0
Reason_Mutual                        0
Reason_Bonds                         0
Reason_FD                            0
Source                               0
dtype: int64

In [19]:
#5ta usulda
df['age'].fillna(df['age'].mean(), inplace=True)
df['Stock_Marktet'].fillna(df['Stock_Marktet'].mode(), inplace=True)
df['Mutual_Funds'].fillna(df['Mutual_Funds'].median(), inplace=True)
df['Gold'].fillna(100, axis=0)
df['Expect'].dropna()

/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2515/1644704826.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)
/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2515/1644704826.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stock_Marktet'].fillna(df['Stock_Marktet'].mode(), inplace=True)
/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2515/1644704826.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mutual_Funds'].fillna(df['Mutual_Funds'].median(), inplace=True)

0     20%-30%
1     20%-30%
2     20%-30%
3     10%-20%
4     20%-30%
5     30%-40%
6     20%-30%
7     20%-30%
8     20%-30%
9     30%-40%
10    20%-30%
11    20%-30%
12    20%-30%
13    20%-30%
14    20%-30%
15    20%-30%
16    20%-30%
17    20%-30%
18    20%-30%
19    20%-30%
20    20%-30%
21    20%-30%
22    20%-30%
24    30%-40%
25    20%-30%
26    20%-30%
27    20%-30%
28    20%-30%
29    10%-20%
30    10%-20%
31    20%-30%
32    30%-40%
33    20%-30%
34    20%-30%
35    20%-30%
36    20%-30%
37    30%-40%
38    20%-30%
39    20%-30%
Name: Expect, dtype: object

In [20]:
df.isnull().sum()

gender                               0
age                                  0
Investment_Avenues                   0
Mutual_Funds                         0
Equity_Market                        1
Debentures                           1
Government_Bonds                     0
Fixed_Deposits                       0
PPF                                  0
Gold                                 0
Stock_Marktet                        6
Factor                               3
Objective                            1
Purpose                              3
Duration                             1
Invest_Monitor                       3
Expect                               1
Avenue                               0
What are your savings objectives?    0
Reason_Equity                        0
Reason_Mutual                        0
Reason_Bonds                         0
Reason_FD                            0
Source                               0
dtype: int64

In [21]:
#for bilan
df = pd.read_csv('Finance_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                31 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       39 non-null     float64
 4   Equity_Market                      39 non-null     float64
 5   Debentures                         39 non-null     float64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      34 non-null     object
 11  Factor                             37 non-null     object
 12  Objective                          39 non-null     object
 13  Purpose                            37 non-null     object
 14  Duration                           39 non-null     object
 15  Invest_Monitor                     37 non-null     object
 16  Expect                             39 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(4), int64(4), object(16)
memory usage: 7.6+ KB

In [22]:
for item in df.columns:
    if df[item].isnull().any():
        if df[item].dtype == 'object':
            df[item].fillna(df[item].mode()[0], inplace=True)
        else: df[item].fillna(df[item].mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     float64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     float64
 4   Equity_Market                      40 non-null     float64
 5   Debentures                         40 non-null     float64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      40 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            40 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: float64(4), int64(4), object(16)
memory usage: 7.6+ KB

/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2515/2584248640.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else: df[item].fillna(df[item].mean(), inplace=True)
/var/folders/2s/kw_rwvhn10q4r6bv09y0my5r0000gn/T/ipykernel_2515/2584248640.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[item].fillna(df[item].mode()[0], inplace=True)

In [23]:
#for loop uchun 10ta misol

In [24]:
meals = ['breakfast', 'lunch', 'dinner', 'dessert', 'brunch']
for i in range(5):
    print(meals[i])

breakfast
lunch
dinner
dessert
brunch

In [25]:
for i in range(1,100, 5):
    print(i, end=',')

1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96,

In [30]:
total=0
for i in range(1,111):
    total+=1
print("sum is", total)

sum is 110

In [35]:
word = 'hellowrong'
for charry in word:
    print(charry, end='+')

h+e+l+l+o+w+r+o+n+g+

In [38]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(i*20, end=',')

20,40,60,80,100,

In [39]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [40]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i, "is even")

2 is even
4 is even
6 is even
8 is even
10 is even

In [41]:
for i in range(1, 11):
    if i % 2 == 1:
        print(i, "is odd")

1 is odd
3 is odd
5 is odd
7 is odd
9 is odd

In [46]:
for i in range(1, 3):
    for j in range(1, 11):
        print(i, "*", j, "=", i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [47]:
text = 'sbgnhusbgh wegrberBGHgb w gbeGAIUrwgibwer wergb iuwebrgw'
vowels = 'aeiouAEIOU'
count=0

for charry in text:
    if charry in vowels:
        count+=1
print("number of vowels:", count)

number of vowels: 13