# Data Type

In [14]:
#int
# 2,23,2025,-45
a=3
type(a)

int

In [15]:
#float
b=3.4
type(b)

float

In [16]:
#string
s='ok'
type(s)

str

In [17]:
c='3'
type(c)

str

In [19]:
#Boolean(True,False)
a=-3
a>0

False

In [20]:
# Operations

In [ ]:
+,-,/,*,**,//,%

In [21]:
a=9
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
5
36
2.25

In [22]:
print(a//b)   #butun qismini oladi

2

In [23]:
print(a%b)

1

In [24]:
print(a**b)

6561

# Vazifa

In [ ]:
#Istalgan ikki sonni yuqoridagi  operationslar orqali bajaring(masalan a=100 , b=49)

# Data bn tanishuv

In [ ]:
#pandas

In [6]:
#Kutubxonalarni install qilish
#1
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\davro\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\davro\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
#2
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\davro\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\davro\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#3
pip install pandas

SyntaxError: invalid syntax (800709310.py, line 2)

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
#Datasetni yuklash
df=pd.read_csv('metadata_premier_league_1415.xls')

In [11]:
df

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup,league_ratio
0,619,Sergio Aguero,33,2551,26,25.270160,8,5.568922,148,33,4,0,F S,Manchester City,21,20.703184,27.805155,6.878173,9
1,647,Harry Kane,34,2589,21,17.157292,4,3.922501,112,27,4,0,F M S,Tottenham,19,14.873823,16.488439,5.549699,9
2,802,Diego Costa,26,2111,20,15.219104,3,4.554671,76,41,8,0,F S,Chelsea,19,14.457935,21.365790,5.276973,9
3,848,Charlie Austin,35,3078,18,17.881850,5,2.548747,131,23,4,1,F,Queens Park Rangers,15,14.076043,13.718276,3.041321,9
4,498,Alexis S??nchez,35,2967,16,13.451750,8,8.494180,122,82,4,0,F M S,Arsenal,16,12.690581,27.157572,10.736753,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,4528,Alejandro Faurlin,2,94,0,0.112558,0,0.485984,3,1,0,0,M S,Queens Park Rangers,0,0.112558,0.055192,0.022536,9
527,4530,Valentin Roberge,1,90,0,0.282559,0,0.000000,1,0,1,0,D,Sunderland,0,0.282559,0.000000,0.000000,9
528,4531,Stuart O&#039;Keefe,2,88,0,0.000000,0,0.019946,0,1,0,0,M S,Crystal Palace,0,0.000000,0.019946,0.019946,9
529,4532,Gary Taylor-Fletcher,1,16,0,0.000000,0,0.000000,0,0,0,0,S,Leicester,0,0.000000,0.000000,0.000000,9
530,4536,Nani,1,41,0,0.000000,0,0.000000,0,0,0,0,S,Manchester United,0,0.000000,0.073149,0.073149,9

In [13]:
#Datasetni yuklash
df=pd.read_csv('metadata_premier_league_1415.xls')