# Data Type

In [14]:
#int
# 2,23,2025,-45
a=3
type(a)

int

In [15]:
#float
b=3.4
type(b)

float

In [16]:
#string
s='ok'
type(s)

str

In [17]:
c='3'
type(c)

str

In [19]:
#Boolean(True,False)
a=-3
a>0

False

In [20]:
# Operations

In [ ]:
+,-,/,*,**,//,%

In [21]:
a=9
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
5
36
2.25

In [22]:
print(a//b)   #butun qismini oladi

2

In [23]:
print(a%b)

1

In [ ]:
print(a**b)

6561

:

# Vazifa

# Data bn tanishuv

In [ ]:
#pandas

In [6]:
#Kutubxonalarni install qilish
#1
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\davro\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\davro\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
#2
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\davro\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\davro\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\davro\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#3
pip install pandas

SyntaxError: invalid syntax (800709310.py, line 2)

In [13]:
import pandas as pd 
import numpy as np

In [41]:
#Datasetni yuklash
df=pd.read_csv('cars2018.csv')

In [42]:
df.head()

,model,model_index,displacement,cylinders,gears,transmission,mpg,aspiration,lockup_torque_converter,drive,max_ethanol,recommended_fuel,intake_valves_per_cyl,exhaust_valves_per_cyl,fuel_injection
0,Acura NSX,57.0,3.5,6,9,Manual,21,Turbocharged/Supercharged,Y,All Wheel Drive,10,Premium Unleaded Required,2,2,Direct ignition
1,ALFA ROMEO 4C,410.0,1.8,4,6,Manual,28,Turbocharged/Supercharged,Y,"2-Wheel Drive, Rear",10,Premium Unleaded Required,2,2,Direct ignition
2,Audi R8 AWD,65.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2,Direct ignition
3,Audi R8 RWD,71.0,5.2,10,7,Manual,18,Naturally Aspirated,Y,"2-Wheel Drive, Rear",15,Premium Unleaded Recommended,2,2,Direct ignition
4,Audi R8 Spyder AWD,66.0,5.2,10,7,Manual,17,Naturally Aspirated,Y,All Wheel Drive,15,Premium Unleaded Recommended,2,2,Direct ignition

In [36]:
df.tail()

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup,league_ratio
526,4528,Alejandro Faurlin,2,94,0,0.112558,0,0.485984,3,1,0,0,M S,Queens Park Rangers,0,0.112558,0.055192,0.022536,9
527,4530,Valentin Roberge,1,90,0,0.282559,0,0.000000,1,0,1,0,D,Sunderland,0,0.282559,0.000000,0.000000,9
528,4531,Stuart O&#039;Keefe,2,88,0,0.000000,0,0.019946,0,1,0,0,M S,Crystal Palace,0,0.000000,0.019946,0.019946,9
529,4532,Gary Taylor-Fletcher,1,16,0,0.000000,0,0.000000,0,0,0,0,S,Leicester,0,0.000000,0.000000,0.000000,9
530,4536,Nani,1,41,0,0.000000,0,0.000000,0,0,0,0,S,Manchester United,0,0.000000,0.073149,0.073149,9

In [ ]:
df.info()x

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   model                    1139 non-null   object
 1   model_index              1138 non-null   float64
 2   displacement             1144 non-null   float64
 3   cylinders                1144 non-null   int64
 4   gears                    1144 non-null   int64
 5   transmission             1144 non-null   object
 6   mpg                      1144 non-null   int64
 7   aspiration               1144 non-null   object
 8   lockup_torque_converter  1144 non-null   object
 9   drive                    1144 non-null   object
 10  max_ethanol              1144 non-null   int64
 11  recommended_fuel         1144 non-null   object
 12  intake_valves_per_cyl    1144 non-null   int64
 13  exhaust_valves_per_cyl   1144 non-null   int64
 14  fuel_injection           1144 non-null   object
dtypes: float64(2), int64(6), object(7)
memory usage: 134.2+ KB

In [ ]:
df.isnull().sum()# tushurib qoldirilgan qiymatlarni aniqlsh

model                      5
model_index                6
displacement               0
cylinders                  0
gears                      0
transmission               0
mpg                        0
aspiration                 0
lockup_torque_converter    0
drive                      0
max_ethanol                0
recommended_fuel           0
intake_valves_per_cyl      0
exhaust_valves_per_cyl     0
fuel_injection             0
dtype: int64

In [28]:
df

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup,league_ratio
0,619,Sergio Aguero,33,2551,26,25.270160,8,5.568922,148,33,4,0,F S,Manchester City,21,20.703184,27.805155,6.878173,9
1,647,Harry Kane,34,2589,21,17.157292,4,3.922501,112,27,4,0,F M S,Tottenham,19,14.873823,16.488439,5.549699,9
2,802,Diego Costa,26,2111,20,15.219104,3,4.554671,76,41,8,0,F S,Chelsea,19,14.457935,21.365790,5.276973,9
3,848,Charlie Austin,35,3078,18,17.881850,5,2.548747,131,23,4,1,F,Queens Park Rangers,15,14.076043,13.718276,3.041321,9
4,498,Alexis S??nchez,35,2967,16,13.451750,8,8.494180,122,82,4,0,F M S,Arsenal,16,12.690581,27.157572,10.736753,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,4528,Alejandro Faurlin,2,94,0,0.112558,0,0.485984,3,1,0,0,M S,Queens Park Rangers,0,0.112558,0.055192,0.022536,9
527,4530,Valentin Roberge,1,90,0,0.282559,0,0.000000,1,0,1,0,D,Sunderland,0,0.282559,0.000000,0.000000,9
528,4531,Stuart O&#039;Keefe,2,88,0,0.000000,0,0.019946,0,1,0,0,M S,Crystal Palace,0,0.000000,0.019946,0.019946,9
529,4532,Gary Taylor-Fletcher,1,16,0,0.000000,0,0.000000,0,0,0,0,S,Leicester,0,0.000000,0.000000,0.000000,9
530,4536,Nani,1,41,0,0.000000,0,0.000000,0,0,0,0,S,Manchester United,0,0.000000,0.073149,0.073149,9

In [25]:
df['xG'].value_counts()

xG
0.000000     98
9.096988      1
8.902107      1
18.616503     1
10.454732     1
             ..
5.116700      1
3.948357      1
5.630620      1
4.136292      1
13.841753     1
Name: count, Length: 434, dtype: int64

In [16]:
df=pd.read_csv('cars2018.csv')

In [20]:
df['fuel_injection']

0                      Direct ignition
1                      Direct ignition
2                      Direct ignition
3                      Direct ignition
4                      Direct ignition
                     ...
1139    Multipoint/sequential ignition
1140    Multipoint/sequential ignition
1141    Multipoint/sequential ignition
1142                   Direct ignition
1143                   Direct ignition
Name: fuel_injection, Length: 1144, dtype: object

In [19]:
df['fuel_injection'].value_counts()

fuel_injection
Direct ignition                   881
Multipoint/sequential ignition    263
Name: count, dtype: int64

In [9]:
#Datasetni yuklash
df=pd.read_csv('metadata_premier_league_1415.xls')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            531 non-null    int64
 1   player_name   531 non-null    object
 2   games         531 non-null    int64
 3   time          531 non-null    int64
 4   goals         531 non-null    int64
 5   xG            531 non-null    float64
 6   assists       531 non-null    int64
 7   xA            531 non-null    float64
 8   shots         531 non-null    int64
 9   key_passes    531 non-null    int64
 10  yellow_cards  531 non-null    int64
 11  red_cards     531 non-null    int64
 12  position      531 non-null    object
 13  team_title    531 non-null    object
 14  npg           531 non-null    int64
 15  npxG          531 non-null    float64
 16  xGChain       531 non-null    float64
 17  xGBuildup     531 non-null    float64
 18  league_ratio  531 non-null    int64
dtypes: float64(5), int64(11), object(3)
memory usage: 78.9+ KB

# Conditions

In [47]:
#syntax
a=2
if a>0:
    print('a soni musbat')

a soni musbat

In [50]:
a=-2
if a>0:
    print('a soni musbat')
else:
    print('a soni manfiy')

a soni manfiy

In [52]:
a=0
if a>0:
    print('a soni musbat')
elif a<0:
    print('a soni manfiy')
else:
    print('a soni nolga teng')

a soni nolga teng

In [ ]:
# Operations
==, !=

In [55]:
1==1

True

In [57]:
1!=2

True

In [ ]:
#O'quvchini baxolash
baxo=int(input('sonni kiriting:'))  #umumiy xolat
if baxo==5:
    print('Alo')
elif baxo==4:
    print('Yaxshi')
elif baxo==3:
    print('Qoniqarli')
elif baxo==2:
    print('Yomon')
elif baxo==1:
    print('Juda yomon')
else:
    print('xatolik bor')

Alo

In [67]:
s="Hello"
s[0]
s[1]

'e'

In [68]:
s[4]

'o'

In [69]:
s[-1]

'o'

In [70]:
s[-2]

'l'

In [ ]:
#Vazifa
# Beilgan sonni musnat  yoki manfiy ekanligini if yordamida aniqlang
#Berilgan sonni juft yoki toq ekanligini aniqlang
# Berigan so'zni boshi va oxirgi xarfini toping
# Berigan so'zni boshidan 2 chi va oxiridan ikkinchi xarfni toping